.globe
  svg
    position: absolute
    path
      &.front
        fill-opacity: 0.9
      &.back
        fill-opacity: 0.3
      &.background
        fill-opacity: 0.2
    circle.sea
      opacity: 0.05
      fill: #009fe1
