#globe
#report

#personae
  %h1 Spanner

  .person
    .mug
    .who
      %p
        Will
        %br
        Founder
  .person
    .mug
    .who
      %p
        Mike
        %br
        Developer
  .person
    .mug
    .who
      %p
        Anna
        %br
        Curator
  .person
    .mug
    .who
      %p
        Sue
        %br
        Financier
      
      
      
      
